# Unreal Engine
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Packaged/
.vs/

# Visual Studio
*.VC.db
*.VC.opendb
*.suo
*.user
*.userprefs
*.sln

# Build
*.pdb
*.obj
*.exe

# Mac/Linux
.DS_Store

# IDE and platform-specific user files
*.xcworkspace/xcuserdata/
*.xcuserstate

# Unreal packaging artifacts
Build/*/FileOpenOrder/
Build/*/*.PackageVersionCounter
